html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #F4F7FA;
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.limitation {
  max-width: 1440px;
  margin: auto;
}

.limitationDialog {
  max-width: 1440px;
}

header {
  background-color: #06122c;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 0px 7px black;
}

.logo {
  width: 180px;
  height: auto;
  margin-left: 64px;
  margin-right: 64px;
}

.headlining {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #06122C;
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
  text-align: center;
}

.main {
  flex: 1;
}

.mainImagesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
  gap: 24px;
}

.imageWrapper {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  transition: box-shadow ease-in-out 0.5s;
}

.mainImagesContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.7s ease-in-out;
}

.mainImagesContainer img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.imageWrapper:hover {
  box-shadow: 0px 0px 15px #06122C;
}

dialog {
  display: none;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F4F7FA;
  ;
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 16px;
}

.fixedSizeForImages {
  height: 760px;
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogImage {
  height: 85%;
  width: 90%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

dialog::backdrop {
  background: #06122c6d;
  backdrop-filter: blur(2px);
}

dialog[open] {
  z-index: 999;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #06122c;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navButtonLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: black;
  border-radius: 10%;
  left: 0px;
  transition: all 0.7s ease;
  outline: none;
}

.navButtonLeft:hover {
  color: #06122C;
  font-size: 40px;
}

.navButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: black;
  border-radius: 10%;
  right: 0px;
  transition: all 0.7s ease;
  outline: none;
}

.navButtonRight:hover {
  color: #06122C;
  font-size: 40px;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.description {
  font-weight: 700;
  color: #06122C;
  text-align: center;
  margin-left: 30px;
}

footer {
  background-color: #06122c;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 0px 7px black;
}

.impressum {
  margin-left: 64px;
  margin-right: 64px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

@media (max-width: 668px) {
  .mainImagesContainer {
    justify-content: center;
  }
}

@media (max-width: 712px) {
  .fixedSizeForImages {
    height: 620px;
    width: 480px;
  }

  .description {
    margin-right: 26px;
  }

  .closeButton {
    margin-right: 26px;
  }

  .navButtonRight {
    font-size: 24px;
  }

  .navButtonRight:hover {
    font-size: 32px;
  }

  .navButtonLeft {
    font-size: 24px;
  }

  .navButtonLeft:hover {
    font-size: 32px;
  }
}


@media (max-width: 552px) {
  .fixedSizeForImages {
    height: 580px;
    width: 340px;
  }

  .description {
    margin-right: 0px;
    margin-left: 0px;
    margin: 0px;
  }

  .closeButton {
    margin-right: 0px;
    margin: 0px;
  }

  .dialogHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .navButtonRight {
    font-size: 24px;
  }

  .navButtonRight:hover {
    font-size: 28px;
  }

  .navButtonLeft {
    font-size: 24px;
  }

  .navButtonLeft:hover {
    font-size: 28px;
  }

}

@media (max-width: 416px) {
  .fixedSizeForImages {
    height: 520px;
    width: 320px;
  }

  .logo {
    width: 180px;
    height: auto;
    margin-left: 48px;
    margin-right: 48px;
  }

  .navButtonRight {
    font-size: 20px;
  }

  .navButtonRight:hover {
    font-size: 24px;
  }

  .navButtonLeft {
    font-size: 20px;
  }

  .navButtonLeft:hover {
    font-size: 24px;
  }

}

@media (max-width: 408px) {
  .fixedSizeForImages {
    height: 480px;
    width: 260px;
  }

  .navButtonRight {
    font-size: 18px;
  }

  .navButtonRight:hover {
    font-size: 22px;
  }

  .navButtonLeft {
    font-size: 18px;
  }

  .navButtonLeft:hover {
    font-size: 22px;
  }
}