html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #F4F7FA;
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header part */
header {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #06122c;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 0px 7px black;
}

.logo {
  width: 180px;
  height: auto;
  margin-left: 64px;
  margin-right: 64px;
}

/* Header part ends here */

/* the headlining starts here */
.headlining {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #06122C;
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
  text-align: center;
}
/* the headlining ends here */

/* The image section starts here */
.main {
  flex: 1;
}

.mainImagesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
  gap: 24px;
}

.imageWrapper {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  transition: box-shadow ease-in-out 0.5s;
}

.mainImagesContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.7s ease-in-out;
}

.mainImagesContainer img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.imageWrapper:hover {
  box-shadow: 0px 0px 15px #06122C;
}
/* The image section ends here */

/* Styling for the dialog */
dialog {
  display: none; 
}

dialog[open] {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow: hidden;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  height: auto;
  width: 450px;
  object-fit: cover;
}


.dialogImage {
  width: 100%;
  max-width: 700px;
  height: 850px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 5px;
}

dialog::backdrop {
  background: #06122c6d;
  backdrop-filter: blur(2px); /* Optional für schönen Effekt */
}

dialog[open] {
  z-index: 999;
}




.closeButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 16px;
  background-color: #06122c;
  color: white;
  border: none;
  padding: 10px 190px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.navButtonLeft {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: #06122c7e;
  padding-top: 100%;
  padding-bottom: 100%;
  padding-left: 17px;
  border-radius: 10%;
  left: 0px;
  transition: all 0.7s ease;
  background-color: transparent;
}

.navButtonLeft:hover {
  color: rgb(255, 255, 255);
  font-size: 48px;
}




.navButtonRight{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: #06122c7e;
  border-radius: 10%;
  padding-right: 17px;
  right: 0px;
  transition: all 0.7s ease;
  background-color: transparent;
}

.navButtonRight:hover {
 color: rgb(255, 255, 255);
 font-size: 48px;
}



/* Footer part */
footer {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #06122c;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 0px 7px black;
}

.impressum {
  margin-left: 64px;
  margin-right: 64px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}


@media (max-width: 944px) {
  .mainImagesContainer {
    justify-content: center;
  }
}

@media (max-width: 624px) {
  .headlining {
    text-align: center;
  }
}

@media (max-width: 600px) {
  dialog[open] {
    width: 300px;
    max-height: 520px;  
    margin-top: 92px;
  }

  .dialogImage {
  width: 100%;
  max-width: 300px;
  height: 480px;
}

.closeButton {
  margin-top: 16px;
  background-color: #06122c;
  color: white;
  border: none;
  padding: 10px 115px;
  border-radius: 5px;
}
}

@media (max-width: 380px) {
  dialog[open] {
    width: 220px;
    max-height: 460px;  
    margin-top: 92px;
  }

  .dialogImage {
  width: 100%;
  max-width: 220px;
  height: 400px;
}

.closeButton {
  margin-top: 16px;
  background-color: #06122c;
  color: white;
  border: none;
  padding: 10px 76px;
  border-radius: 5px;
}

.navButtonLeft{
  font-size: 24px;
} 

.navButtonLeft:hover{
  font-size: 32px;
} 

.navButtonRight{
  font-size: 24px;
} 

.navButtonRight:hover{
  font-size: 32px;
} 

}

@media (max-width: 480px) {
  .headlining {
    text-align: center;
  }

  footer {
    justify-content: center;
  }
}

@media (max-width: 376px) {
  h1 {
    font-size: 24px;
  }

  .logo {
    width: 160px;
    height: auto;
  }
}
